/*navigation section*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 5px;
}
/*home section*/
#home{
      height: 370px;
      padding: 3px 30px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 10px;
}
/*our services section*/
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 15px;
}
/*client section*/
#clients{
    flex-wrap: wrap;

}
#clients img{
    height: auto;
    padding: 0px 3px;
    width: 60px;
}
#client-item{
    align-items: center;
    justify-content: center;
}
/*contact us section*/


/*footer*/

/*utility classes*/
.h-primary{
    font-size: 20px;
}
.btn{
    font-size: 10px;
    padding: 5px;
}